html {
    min-height: 100%;
}

:block(page):mod(theme islands) {

    /* Базовая (общая политра такая же как и у блоков) цветов от которой наследуются оттенки */
    $color-base: #000000;
    $color-essential: #FFFFFF;
    $color-project: #FFCC00 ; /* #FFCC00 一 yandex-project  #02B875 一 medium-project #64B2F8 一 twitter-project */
    $color-ghost: #F6F5F3;
    $color-source: #007700;
    $color-radical: #EE0000;
    $color-external: #0044BB; /* #4444BB 一 yandex-external #00AB6B 一 medium-external #1A8BF0 一 twitter-external */



    /* Смысловая политра цветов наследуемая от основных цветов */
    /* Default */
    $color-default:                 color($color-essential);
    $color-inverse:                 $color-base;
    $color-hover:                   color($color-project l(+33%)); /* #FFF6CB */
    $color-press:                   $color-ghost;

    $color-border:                  color($color-base a(20%));
    $color-border-hover:            color($color-base a(30%));
    $color-border-press:            color($color-base a(35%));
    $color-border-focus:            color($color-base a(35%));

    $color-typo-primary:            $color-base;
    $color-typo-inverse:            $color-essential;
    $color-typo-placeholder:        color($color-base l(+60%));




    /* Action / Focus */
    $color-action:                  color($color-project l(+15%));
    $color-action-hover:            color($color-project l(+20%));
    $color-action-focus:            $color-project;
    $color-action-press:            $color-project;

    $color-check:                   color($color-project l(+33%));
    $color-check-press:             color($color-project l(+25%));

    $color-border-check:            color($color-project a(50%) l(-20%));
    $color-border-check-press:      color($color-base a(35%));
    $color-border-check-hover:      color($color-project a(60%) l(-25%));
    $color-border-focus:            $color-project;



    /* Disable */
    $color-disable:                 color($color-base a(8%));
    $color-disable-check:           color($color-base a(8%)); /* Может отличаться от $color-disable */
    $color-border-disable:          color($color-base l(+60%));

    $color-typo-disable:            color($color-base l(+60%));
    $color-typo-inverse-disable:    color($color-base a(40%));




    /* Link */
    $color-link:               $color-external;
    $color-link-hover:         $color-radical;
    $color-link-ghost:         $color-ghost;
    $color-link-ghost-hover:   color($color-ghost l(-10));
    $color-link-visited:       color($color-external s(10%)); /* #b40eb4 */


    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: $color-typo-primary;
    background: $color-default;
}


/* Три состояни DEFAULT ACTION DISABLE */
