html {
    min-height: 100%;
}

:block(page):mod(theme islands) {

    /* Базовая (общая политра такая же как и у блоков) цветов от которго наследуются оттенки (изменяется при общей настройки цветовой схемы)*/
    $color-base: #000000;
    $color-essential: #FFFFFF;
    $color-project: #FFCC00 ; /* #FFCC00 一 yandex-project  #02B875 一 medium-project #64B2F8 一 twitter-project */
    $color-phantom: #F6F5F3;
    $color-source: #007700;
    $color-radical: #EE0000;
    $color-path: #0044BB; /* #0044BB 一 yandex-external #00AB6B 一 medium-external #1A8BF0 一 twitter-external */



    /* Смысловая политра цветов, наследуемая от основных цветов (изменяется при детальной настройки цветовой схемы) */
    /* Default */
    $color-default:                 color($color-essential); /* Цвет фона блоков */
    $color-inverse:                 $color-base; /* Иверсия фонового цвета блоков */
    $color-hover:                   color($color-project l(+33%)); /* Цвет фона блоков по ховеру */
    $color-press:                   $color-phantom; /* Цвет фона блоков по нажатию */

    $color-border:                  color($color-base a(20%)); /* Цвет бордеров */
    $color-border-hover:            color($color-base a(30%)); /* Цвет бордеров по ховеру */
    $color-border-press:            color($color-base a(35%)); /* Цвет бордеров по нажатию */
    /* $color-border-focus:         color($color-base a(35%));  Цвет бордеров по фокусу */

    $color-typo-primary:            $color-base; /* Цвет основного текста */
    /* $color-typo-inverse:         $color-essential;  Цвет инверсии основного текста */
    $color-typo-placeholder:        color($color-base l(+60%)); /* Цвет основного плейсхолдера */



    /* Action / Focus */
    $color-action:                  color($color-project l(+15%)); /* Фон активных блоков */
    $color-action-hover:            color($color-project l(+20%)); /* Фон активных блоков по ховеру */
    $color-action-focus:            $color-project; /* Фон активных блоков при фокусе */
    $color-action-press:            $color-project; /* Фон активных блоков по нажатию */

    $color-check:                   color($color-project l(+33%)); /* Фон чекнутых блоков */
    $color-check-press:             color($color-project l(+25%)); /* Фон чекнутых блоков по нажатию */

    $color-border-check:            color($color-project a(50%) l(-20%)); /* Цвет цвет бордера чекнутого блока */
    $color-border-check-press:      color($color-base a(35%)); /* Цвет цвет бордера чекнутого блока при фокусе по нажатию */
    $color-border-check-hover:      color($color-project a(60%) l(-25%)); /* Цвет цвет бордера чекнутого блока по ховеру */
    $color-border-focus:            $color-project; /* Цвет цвет бордера при фокусе */



    /* Disable */
    $color-disable:                 color($color-base a(8%)); /* Фон неактивного блока */
    $color-disable-check:           color($color-base a(8%)); /* Фон чекнутого неактивного блока */

    $color-border-disable:          color($color-base l(+60%)); /* Фон бордеров неактивного блока */

    $color-typo-disable:            color($color-base l(+60%)); /* Цвет основного текста неактивного блока */
    $color-typo-inverse-disable:    color($color-base a(40%)); /* Цвет инверсии основного текста неактивного блока */



    /* Links */
    $color-link:                    $color-path; /* Цвет ссылок */
    $color-link-hover:              $color-radical; /* Цвет ссылок по ховеру */
    $color-link-external:           $color-source; /* Цвет внешних ссылок */
    $color-link-ghost:              $color-phantom; /* Цвет второстепенных ссылок */
    $color-link-ghost-hover:        color($color-phantom l(-10)); /* Цвет второстепенных ссылок по ховеру */
    $color-link-visited:            color($color-path s(10%)); /* Цвет посещенных ссылок */


    font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;

    min-height: 100%;
    margin: 0;

    color: $color-typo-primary;
    background: $color-default;




    /* --- Легкий кастом --- */
    $size-s: 0.813em; /* 0.813em */
    $size-m: 0.813em; /* 0.813em */
    $size-l: 0.938em; /* 0.938em */
    $size-xl: 1.125em; /* 1.500em */

    $out-radius: 0; /* Радиус внешнего блока */
    $in-radius: 0; /* Радиус внутреннего блока (Нужно дотюнить через calc от внешненго)*/

    $border-space: 2px; /* Размер бордера */

    $checkbox-out-radius: 3px; /* Радиус внешнего блока чекбокса*/
    $checkbox-in-radius: 2px; /* Радиус внутреннего блока чекбокса*/

    $radio-border-space: 2px; /* Размер бордера радио */
    $checkbox-border-space: 2px; /* Размер бордера чекбокса*/

    $select-tick: url(../_islands/down-rambler.svg); /* arrow.svg */
    $select-tick-hovered: url(../_islands/down-rambler-hovered.svg); /* arrow-hover.svg */

    $select-s-tick: url(../_islands/down-rambler.svg); /* arrow-s.svg */
    $select-s-tick-hovered: url(../_islands/down-rambler-hovered.svg); /* arrow-hover.svg */

    $checkbox-tip: url(../../theme/_islands/check-rambler.svg); /* tip.svg */
    $radio-dot-background: #fff; /* Фон точки */

    $radio-space-size-m: 4px; /* Растояние от точки до бордера у m-радио */
    $radio-space-size-l: 5px; /* Растояние от точки до бордера у l-радио */
}
