:block(textarea):mod(theme simple) {

    $color-base: #000000;
    $color-ghost: #F6F5F3;
    $color-default: #FFFFFF;
    $color-brand: #224EFF;
    $color-source: #007700;
    $color-radical: #EE0000;
    $color-external: #4444BB;

    font-family: inherit;
    font-size: 100%;

    display: inline-block;

    box-sizing: border-box;
    min-height: 2em;
    margin: 0;

    cursor: auto;


    border: 1px solid color($color-base a(30));
    background: $color-default;

    -webkit-appearance: none;

    &:block(textarea):mod(disabled) {
        opacity: 0.6;
    }

    &:block(textarea):mod(focused) {
        box-shadow: 0 0 5px 1px $color-brand;

        &:focus {
            outline: none;
        }
    }

    &:block(textarea):mod(width available) {
        width: 100%;
    }
}
