:block(link):mod(theme islands) {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $color-external;
    cursor: pointer;
    transition: color 0.15s ease-out;
    text-decoration: none;

    -webkit-tap-highlight-color: color($color-base a(10%)); /* alpha($base, 10%) */

    &:block(link):mod(view minor) {
        color: color($color-external s(20%)); /* saturation($link, 20%) */
    }

    &:block(link):mod(view external) {
        color: $color-source; /* $active */
    }

    &:block(link):mod(view ghost) {
        color: color($color-base w(60%)); 
        &:hover {
            color: $color-base; /* $base */
        }
    }

    &:block(link):mod(view text) {
        color: $color-base; /* $base */
    }

    &:block(link):mod(view strong) {
        font-weight: bold;
    }

    &:hover {
        color: $color-radical; /* $alert */
    }

    @each $size, $val in (s, m, l, xl), (13px, 13px, 15px, 18px) {
        &:block(link):mod(size $size) {
            font-size: $val;
        }
    }

    &:block(link):mod(disabled) {
        -webkit-tap-highlight-color: $color-base;
    }
}
