:block(link):mod(theme islands) {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $color-link;
    cursor: pointer;
    transition: color 0.15s ease-out;
    text-decoration: none;

    -webkit-tap-highlight-color: $color-link-hover;

    &:block(link):mod(view minor) {
        color: $color-link-hover;
    }

    &:block(link):mod(view external) {
        color: $color-link-out;
    }

    &:block(link):mod(view ghost) {
        color: $color-link-ghost;
        &:hover {
            color: $color-link-ghost-hover
        }
    }

    &:block(link):mod(view text) {
        color: $color-typo-primary;
    }

    &:block(link):mod(view strong) {
        font-weight: bold;
    }

    &:hover {
        color: $color-link-hover;
    }

    @each $size, $val in (s, m, l, xl), (13px, 13px, 15px, 18px) {
        &:block(link):mod(size $size) {
            font-size: $val;
        }
    }

    &:block(link):mod(disabled) {
        -webkit-tap-highlight-color: $color-base;
    }
}
