:block(radio):mod(theme islands) {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    -webkit-tap-highlight-color: $color-border;

    &:hover {
        cursor: pointer;
    }

    :block(radio):elem(control) {
        position: absolute;
        z-index: -1;

        margin: 0;

        opacity: 0;
    }

    :block(radio):elem(box) {
        position: relative;

        display: inline-block;

        border-radius: 50%;
        background: $color-border;

        &:before {
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;

            content: '';

            border-radius: 50%;
            background: $color-default;
        }
    }

    &:block(radio):mod(size m) {
        font-size: 13px;

        :block(radio):elem(box) {
            line-height: 14px;

            top: 2px;

            width: 14px;
            height: 14px;
            margin-right: 5px;

            &:after {
                top: 4px;
                left: 4px;

                width: 6px;
                height: 6px;
            }
        }
    }

    &:block(radio):mod(size l) {
        font-size: 15px;

        :block(radio):elem(box) {
            line-height: 17px;

            top: 3px;

            width: 17px;
            height: 17px;
            margin-right: 7px;

            &:after {
                top: 5px;
                left: 5px;

                width: 7px;
                height: 7px;
            }
        }
    }

    &:block(radio):mod(checked) {
        :block(radio):elem(box) {
            background: $color-border-check;

            &:before {
                background: $color-check;
            }

            &:after {
                position: absolute;

                border-radius: 50%;
                background: $color-inverse;

                content: '';
            }
        }
    }

    &:block(radio):mod(focused) {
        :block(radio):elem(box):before {
            box-shadow: 0 0 0 1px $color-border-focus, inset 0 0 0 1px $color-border-focus;
        }
    }

    &:block(radio):mod(hovered) {
        :block(radio):elem(box) {
           background: $color-border-hover;
        }

        &:block(radio):mod(checked) :block(radio):elem(box) {
           background: $color-border-check-hover;
        }
    }

    &:block(radio):mod(disabled) {
        cursor: default;

        color: $color-typo-disable;

        :block(radio):elem(box) {
            background: $color-disable;

            :block(radio):mod(checked) {
                background: $color-disable-check;
            }

            &:before {
                display: none;
            }

            &:after {
                background: $color-typo-inverse-disable;
            }
        }
    }

    &:block(radio):mod(type button) {
        display: inline-block;
    }

    &:block(radio):mod(type line) {
        &:block(radio):mod(size m) {
            margin-right: 13px;
        }

        &:block(radio):mod(size l) {
            margin-right: 15px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
