:block(checkbox-group):mod(theme islands) {

    display: inline-block;

    &:block(checkbox-group):mod(size m) {
        line-height: $checkbox-size-m-button-fontSize;
    }

    &:block(checkbox-group):mod(size l) {
        line-height: $checkbox-group-size-l-lineHeight;
    }

    &:block(checkbox-group):mod(type button) {
        display: inline-block;

        white-space: nowrap;
    }
}
